.btnModal--active{
    width: 130px;
    height: 50px;
    border-radius: 0;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color:#39A2A5 ;

}
.btnModal--unactive{
    width: 130px;
    height: 50px;
    border-radius: 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #797A79;
    background-color:#E6E6E6 ;

}
