/*버튼 공통 스타일*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;   
  border-radius: 6px;    
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}

/* 가로 100% 옵션 */
.btn--full {
  width: 347px;
  height: 40px;
}

.btn--activated {
  background-color: #39A2A5;
  color:#FFFFFF;
  border: none;
}
.btn--activated:hover {
/*추후 확인*/
}

/*  default — 기본형 버튼 */
.btn--default {
  background-color: #C6C8C6; 
  color:#FFFFFF;      
  border:none; 
}
.btn--default:hover {
/*추후 확인*/
}

/* stroke — 외곽선 버튼 */
.btn--stroke {
  background-color: #FFFFFF;
  border: 1px solid #C6C8C6;
  color: #C6C8C6;
}
.btn--stroke:hover {
/* 추후 확인 */
}

/* login  */
.btn--login {
  background-color: #C6C8C6;
  color: #FFFFFF;
  border: none;
}
.btn--login:hover {
  /* 추후 확인 */
}

