/* 검색바 공통 css입니다. */

.search-filter-container {
    width: 100%; /* 부모 너비에 맞게 꽉 채우도록 설정 */
    margin: 0 auto;
}

/* 1. 검색 입력 영역 */
.search-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--gray-20, #C6C8C6);
    border-radius: 6px;
    padding: 0;
    height: 34px;
}

/* 검색 아이콘 이미지 */
.search-input-wrapper > svg {
    height: 25px;
    width: 25px;
    stroke-width: 2px;
    stroke: var(--gray-30, #ACADAC);
    margin-right: 10px;
    margin-bottom: 10px;
}

/* 입력창 */
.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--gray-10, #E6E6E6);
    background-color: transparent;
}

/* 포커스(클릭)되었을 떄 */
.search-input-wrapper.focused .search-input {
    color: var(--gray-50, #474747); 
}
        
.search-input::placeholder {
    color: var(--gray-10, #E6E6E6);
}

.search-input-wrapper.focused .search-input::placeholder {
    color: var(--gray-50, #474747);
}

.search-input-wrapper.focused {
    border-color: #39A2A5; 
}

/* 2. 정렬 및 필터 영역 */
.sort-filter-area {
    margin-top: 5px;
    font-size: 12px;

    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

/* 정렬 옵션 컨테이너 */
.sort-options {
    display: flex;
    gap: 15px; 
    padding: 0;
    margin: 0;
}

/* 포커스(클릭) 안되었을 때*/
.sort-option-item {
    display: flex;
    align-items: center;
    color: var(--gray-30, #ACADAC); /* 비활성화된 항목 색상 */
    padding: 4px 0;
    user-select: none;
    font-weight: 600;
}

/* 포커스(클릭) 되었을 때*/
.sort-option-item.active {
    color: #39A2A5; /* 활성화된 항목 색상 (청록색) */
    font-weight: 600;
}

/* --- 3. 필터 버튼 영역 --- */
.filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

/* 필터 아이콘 이미지 */
.filter-button > svg {
    margin-right: 0;
    height: 40px;
    width: 40px;
}