:root{
  --white:#fff; --gray-60:#191919;
  --backdrop: rgba(0,0,0,.2);
  --gray-10:#E6E6E6; --neutral:#EDEDED;
  --primary:#39A2A5; --danger:#D93D3E;
  --border-radius: 12px;
  --box-shadow: 0 0 10px 4px rgba(44,44,44,0.20);
}

.modal-overlay{
  position: absolute;
  inset: 0;
  background: var(--backdrop);
  display:flex; align-items:center; justify-content:center;
  padding: 20px; z-index: 1000;
}

.modal-card{
  width: 270px; height: 148px;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-textbox{
    width: 100%; height:99px;
    background: var(--white);
    border-top-left-radius: var(--border-radius);    
    border-top-right-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-title{ 
color: var(--primary-30, #39A2A5);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 600;
margin-bottom: 8px;
margin-top:0px;

/* height: 22px; */
line-height: 22px;
}

.modal-message{
color: var(--gray-60, #191919);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;

/* inter medium/16 */
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 500;

line-height: 19px;
margin-top:0px;
margin-bottom: 0px;

white-space: pre-line; /* \n을 줄바꿈으로 표시 */

}

.modal-actions{
  width: 100%; height: 49px;
  display:grid; grid-template-columns: 1fr 1fr; gap:0;
  border-top: 1px solid var(--gray-10);
  overflow:hidden;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.btn{
  height:49px; 
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border:0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

}
.btn:last-child{ border-right:0; }
.btn-primary{ background: var(--primary); color:#fff; }
.btn-danger { background: var(--danger);  color:#fff; }
.btn-neutral{ background: #D9D9D9; color:#666; }
