/* 전체 컨테이너 (임시로 보기 편하도록, 추후 삭제 가능) */
.curation-list-container {
    max-width: 400px; 
    margin: 20px auto;  
}

/* 큐레이션 카드 개별 항목 */
.curation-card {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); /* 카드 그림자 */
    margin-bottom: 26px; /* 각 카드 사이 간격 */
    overflow: hidden; /* 이미지 둥근 모서리 적용을 위해 */
    position: relative;
}

/* -- 헤더 영역 --  */
.curation-image-placeholder {
    width: 100%;
    height: 160px; /* 이미지 높이 */
    background-color: #E8E8E8; /* 이미지가 없을 때 */
    position: relative; /* 뱃지 위치 지정을 위해 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지 넘치는 부분 숨김 */
}

.curation-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 */
    border-radius: 12px 12px 0 0; /* 상단 모서리만 둥글게 */
}

/* 뱃지 위치 (Insight, CrossNote, BestCalum) */
.curation-image-placeholder .insight-badge,
.curation-image-placeholder .cross-note-badge,
.curation-image-placeholder .best-calum-badge {
    position: absolute;
    bottom: -10px; 
    left: 0px;
    z-index: 10; /* 이미지 위에 오도록 */
}

/* 뱃지 및 내용 영역 */
.curation-content {
    padding: 10px;
}

/* 뱃지 그룹 (필드 뱃지 + 북마크) */
.badge-group {
    display: flex;
    justify-content: space-between;
}

.field-badge-list {
    display: flex;       /* 자식 요소를 수평으로 배치 */
    gap: 10px;            /* 뱃지들 사이의 간격  */
    align-items: center; 
    flex-wrap: wrap;     /* 뱃지가 많아질 경우 자동으로 줄 바꿈 */
}

/* 북마크 아이콘 */
.bookmark-icon-container { 
    margin-left: auto; /* 오른쪽으로 밀어내기 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 요약본 텍스트 */
.content-text {
    font-size: 14px;
    color: var(--gray-60, #191919);
    line-height: normal;
    font-weight: 500;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

/* 큐레이션 푸터 (좋아요) */
.curation-footer {
    display: flex;
    align-items: center;
    position: absolute; /* 버튼 위치 고정 */ 
    bottom: 10px; 
    left: 10px;   
    width: calc(100% - 20px); /* 너비를 카드 전체 너비에서 좌우 패딩을 뺀 값으로 설정 */
}