.questionListItem {
  padding: 0px 14px;
  border-bottom: 1px solid var(--gray-10, #E6E6E6);
  margin-top: -30px;
}

.itemTitle {
    align-self: stretch;
    color: var(--gray-50, #474747);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin-bottom: -10px;
}

.itemPreview {
    /* 내용이 길어지면 ...으로 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--gray-40, #797A79);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.itemFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -70px;
}

.itemStats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: -50px;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: -30px;
}

/* 좋아요 아이콘 (하트 아이콘) */
.heartIcon {
  fill: #FFF;
  stroke: #797A79;
}

/* 댓글 아이콘 */
.commentIcon {
  fill: #FFF;
  stroke: #797A79;

}

.itemCount {
  color: var(--gray-40, #797A79);
font-feature-settings: 'liga' off, 'clig' off;
/* inter medium/12 */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: inline-block; /* 👈 텍스트도 블록처럼 취급하여 정렬 안정화 */
margin-right: -30px;
}
