/* src/index.css */

:root{
  --app-width: 375px;
  --app-height: 812px;


  --white:#fff;
  --black:#000;
  --text:#111;
  --primary:#39A2A5;
  --red:#D93D3E;
    /* ─────────────── Gray ─────────────── */
  --gray-0: #F2F2F2;
  --gray-10: #E6E6E6;
  --gray-20: #C6C8C6;
  --gray-30: #ACADAC;
  --gray-40: #797A79;
  --gray-50: #474747;
  --gray-60: #191919;

  /* ─────────────── Primary ─────────────── */
  --primary-0: #F7FCF8;
  --primary-10: #B9EDC4;
  --primary-20: #45D595;
  --primary-30: #39A2A5;
  --primary-40: #225779;

  /* ─────────────── Category Colors ─────────────── */
  --category-1: #2986E6;
  --category-2: #FE817B;
  --category-3: #C36839;
  --category-4: #9582FF;
  --category-5: #73C62F;
  --category-6: #FD88D9;

  /* ─────────────── System Colors ─────────────── */
  --sys-red: #D93D3E;
  --sys-yellow: #FFBF00;
  --sys-kakao: #FEE500;

}

/* reset & base */
html, body { height: 100%; margin: 0; padding: 0; }
body {
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: var(--text);
  background: var(--black);
  -webkit-font-smoothing: antialiased;
}
* { box-sizing: border-box; }

/* 단일 스크롤 컨테이너 */
.app-wrapper {
  width: var(--app-width);
  height: var(--app-height);
  margin: 0 auto;
  background: var(--white);
  overflow-y: auto;               
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  position: relative;   
}
.app-wrapper::-webkit-scrollbar { display: none; }

.app-wrapper.modal-open { overflow: hidden; }


/* 모바일 기기 대응 */
@media (max-width: 480px) {
  :root { --app-width: 100vw; --app-height: 100dvh; }
  body { background: var(--white); }
  .app-wrapper { width: 100vw; height: 100dvh; }
}

/* 콘텐츠 여백 기본값 */
.content {
  padding: 0 14px;
}
